
.container {
    width: 1280px !important;
    padding: 0;
}

.blue{color: #0D4695;}
a{color:#666;}
a:hover{color:#FAA701; text-decoration: none;}
img:hover{opacity: 0.85;}

.icon{background-repeat: no-repeat; background-image: url("../images/icon.png"); vertical-align: middle; display: inline-block;}
.icon-logo{width: 231px; height: 33px; background-position: 0 0;}
.icon-lang{width: 20px; height: 20px; background-position: 0 -50px;}
.icon-dot1{width: 5px; height: 4px; background-position: 0 -75px;}
.icon-dot2{width: 5px; height: 4px; background-position: 0 -80px;}
.icon-light{width: 197px; height: 123px; background-position: 0 -85px;}

.top{height: 125px; border-bottom: solid 3px #F08300; position: relative; z-index: 9999; background-color: #FFF;}
.top .left{width: 280px; float: left;}
.top .left.icon-logo{margin-top: 65px;}
.top .right{width: 1000px; float: left;}
.top .right .right-top{display: flex; align-items:center; margin-top: 25px; font-size: 12px; color: #CCC;}
.top .right .right-top a{color: #CCC; margin-left: 10px; margin-right: 10px;}
.top .right .right-top a:hover, .top .right .right-top a.active{color: #666;}

.menu{width: 800px; float: right; }
.menu .menuNav .nLi.on h3 a{color: #EC6D00;}
.menu .menuNav .nLi{ padding-left: 0; padding-right: 0;}
.menu .menuNav .nLi h3{ width: 100%; line-height: 69px; margin: 0; font-size: 14px;}
.menu .menuNav .nLi h3 > a{text-decoration: none; color: #666; display: block; text-align: center; font-size: 14px; display: block;}
.menu .menuNav .nLi h3 a:hover{ text-decoration: none; color: #EC6D00;}
.menu .menuNav .sub{ display:none; left:0; top:125px; width: 100%; position:absolute; background:rgba(0,0,0,0.65);   padding:0 0; text-align: center; z-index: 1000;  }
.menu .menuNav .sub a{  font-size: 12px; color: #FFF; line-height: 35px; display: inline-block; margin: 0 15px;}
.menu .menuNav .sub a:hover{  padding:0;color: #EC6D00;} 

/* banner */
.fullSlide {min-width: 1280px; position: relative; height: 748px; border-bottom: solid 3px #F08300;}
.fullSlide .bd {position: relative;z-index: 0;}
.fullSlide .bd ul {width: 100% !important;}
.fullSlide .bd li {width: 100% !important; height: 745px; overflow: hidden; text-align: center;}
.fullSlide .bd li a {display: block;height: 745px;}
.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center; }
.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:url(../img/dot-black.png) 0 0; overflow:hidden; line-height:9999px; filter:alpha(opacity=40);opacity:0.4; }
.fullSlide .hd ul .on{ filter:alpha(opacity=100);opacity:1;  }
.fullSlide .prev,
.fullSlide .next{ position:absolute; left:5%; top:50%; margin-top:-25px; display:block; width:30px; height:50px; background:url(../img/slider-arrow1.png) -128px 0px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.fullSlide .next{ left:auto; right:5%; background-position:0px 0px; }
.fullSlide .prev:hover,
.fullSlide .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.fullSlide .prevStop{ display:none;  }
.fullSlide .nextStop{ display:none;  }

.home-body{margin-top: 80px; margin-bottom: 100px;}
.home-icon-light{position: absolute; left: 385px; top: -80px;}

.home-about{background: url(../images/home-about-bg.png) right 10px bottom 0 #EAEAEA no-repeat; width: 415px; height: 255px; overflow: hidden; float: right; padding: 20px 25px; }
.home-title{font-size: 30px; color: #9A9A9A; line-height: 50px;}
.home-title-line{display: inline-block; border-bottom: solid 1px #9A9A9A;}
.home-text{font-size: 12px; margin-top: 15px; color: #666; line-height: 180%;}
.home-more{display: inline-block; border: solid 1px #BBB;  text-align: center; width: 65px; line-height: 22px; font-size: 12px; color: #666;}
.home-more:hover{background-color: #FFF; color: #666;}

.home-news{
    width: 845px; float: left; height: 255px; background: #EAEAEA;
}
.home-news-left{width: 595px; float: left; padding: 20px 25px;}
.home-news-right{width: 250px; float: right;}
.home-news-list-text{color: #999;}

.slideBox{ width:250px; height:255px; position:relative;}
.slideBox .hd{ height:36px; width: 250px; overflow:hidden; position:absolute; right:0px; bottom:-36px; z-index:1; background-color: #A0A0A0; text-align: center;}
.slideBox .hd ul{ overflow:hidden; zoom:1; margin-top: 8px;  }
.slideBox .hd ul li{ display: inline-block; margin-right:2px;  width:9px; height:9px; text-align:center; background:#fff; cursor:pointer; border-radius: 50%; }
.slideBox .hd ul li.on{ background:#FAA701; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:250px; height:255px; display:block;  }

.bottom{background: url(../images/bottom-bg.png) repeat-x top center #FFF; padding-top: 15px; padding-bottom: 15px; color: #999; font-size: 12px; }
.bottom a{color: #999;}
.bottom a:hover{color: #666;}

/*page*/
.page-bg{background-color: #EEE;}
.page-banner{height: 350px;}
.page-body{background-color: #FFF;}

.page-breadcrumb{line-height: 45px;}

.page-menu li{float: left; line-height: 45px; text-align: center;  font-size: 14px; margin-bottom: -3px;}
.page-menu li a{display: block; background-color: #FFF; padding-left: 25px; padding-right: 25px;}
.page-menu li a.active, .page-menu li a:hover{background-color: #42AF36; border-bottom: solid 3px #348C2B; color: #FFF; position: relative;}
.page-menu li a.active::after, .page-menu li a:hover::after{
    content: "▼";
    font-size: 13px;
    position: absolute;
    color: #42AF36;
    left: 47.5%;
    bottom: -27px;
    z-index: 1;
}

.page-body{padding: 25px 30px; background-color: #FFF; border: solid 1px #DDD;}
.page-body-title{color: #FAA701; font-size: 18px; margin-bottom: 20px;}
.page-body img{max-width: 100%;}

.products-list img{width: 300px; height: 225px; padding: 5px; border: solid 1px #EEE;}
.products-list .panel-body{padding: 0;}
.products-list li:hover .title{background-color: #f9f9f9;}
.products-list .title{line-height: 35px;}
.products-list li{padding-top: 15px; padding-bottom: 0px;}


.news-list li a{display:block; line-height: 55px; border-bottom: 1px dashed #DDD; color: #333; overflow: hidden;}
.news-list li a:hover{color:#1B5FA2; text-decoration: none;}
.news-list li span{float: right; color: #CCC; font-size: 12px;}